.footer{
background-color: rgba(41, 31, 31 ,.8);
display: grid;
margin-top:50px ;
justify-content: center;
align-items: center;

}
:root{
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width : 4rem;
    height: 3rem;
    border: .2em solid var(#fff);
    border-radius: 30px;
    color: #fff;
    margin: 3rem 1.5rem 3rem 0;
    font-size:2rem ;
 }
 .social a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
 }
 .fname{
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    color: white;
 }